@charset "utf-8";

/* ----------------------------------------
 * base styles
 * ---------------------------------------- */
* {
    box-sizing: border-box;
}
body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
  -webkit-text-size-adjust: 100%;
}


/* ----------------------------------------
 * common styles
 * ---------------------------------------- */
.clearfix{@include clearfix;}
