@charset "utf-8";

/*! ----------------------------------------
 * リセットスタイル
 * ---------------------------------------- */
* {
    box-sizing: border-box;
}

/*! ----------------------------------------
 * ベーススタイル
 * ---------------------------------------- */
html {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "游ゴシック", YuGothic, sans-serif;
    font-size: 62.5%; // 10px
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.4rem;
}

input[type=text],
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    transition: opacity .3s;

    img {
        border: none;
    }

    &:hover {
        opacity: .9;
    }
}
