<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title><!-- @@var title --></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:type" content="website">
	<meta property="og:image" content="">
	<meta property="og:url" content="">
	<meta property="og:title" content="">
	<meta property="og:description" content="">

	<link rel="apple-touch-icon" href="favicon.png">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<link rel="stylesheet" href="css/libs.css">
	<link rel="stylesheet" href="css/app.css">
	<!-- @@placeholder css -->
</head>
<body class="<!-- @@var pageId -->">
<!--#include file="common/header.html" -->
<!-- @@placeholder main -->
<!--#include file="common/footer.html" -->

<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<!-- @@placeholder js -->
</body>
</html>